{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/courses" class="navbar-brand">Caddy Shaq</a>
        <img src="https://i.imgur.com/NfyMbhc.png" alt="Shaq Head" height="60px">
        {% if loggedIn %}
        <a class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/courses" class="nav-link text-light">View All</a>
                <a href="/courses/new" class="nav-link text-light">Create New Course</a>
                <a href="/courses/mine" class="nav-link text-light">My Courses</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}