{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/courses/{{ course.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Round</legend>
                <label class="form-label">Date: </label>
                    <input 
                        type="text" 
                        name="date"
                        value="{{ myRound.date }}"
                        class="form-control"
                    >
                <label class="form-label">Score:</label>
                    <input 
                        type="number" 
                        name="score" 
                        value="{{ myRound.score }}"
                        class="form-control"
                    >
                    <label class="form-label">Details:</label>
                    <input 
                    type="text" 
                    name="details"
                    value="{{ myRound.details }}"
                    class="form-control"
                    >
            </fieldset>
            <input 
                type="submit" 
                value="Edit Round"
                class="btn btn-success"
            >
        </form>
    </div>
{% endblock %}