body {
    background-color: #EDC7B7;
}

.card {
    background-color: #EEE2DC;
}

.card-header {
    background-color:#BAB2B5;
}

article {
    width: 500px;
}

.container {
    background-color: antiquewhite;
    width: 500px;
    border-radius: 4%;
}

#show-img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}